.cart_container {
  color: #fff;
  /* text-align: center; */
  margin-top: 50px;
}

.cart_container h1 {
  text-align: center;
}

.cart__product-container {
  background: #17141d;
  position: relative;
  left: 10%;
  margin: 50px 10px;
  padding: 20px;
  width: 80vw;
  color: white;
}

.cart__product-contents {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  /* box-shadow: 0 0 2px #fff; */
}

.cart__product-del-icon {
  font-size: 25px;
  position: relative;
  right: -50%;
}

.cart__product-del-icon:hover {
  font-size: 35px;
  transition: 0.2s ease;
  cursor: pointer;
}

.cart__product-price {
  position: relative;
  right: -50%;
}

.cart__product-img-container {
  height: 150px;
  width: 250px;
  margin-bottom: 20px;
}

.cart__product-name {
  margin-bottom: 10px;
}
.img__empty-cart {
  height: 300px;
  width: 300px;
}

.add__remove-btn {
  display: flex;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}

.product__quantity {
  padding: 0 20px;
}

.remove_Btn,
.add_Btn {
  border: 1px solid #fff;
  padding: 0 20px;
}

.add_Btn:hover {
  background-color: green;
}

.remove_Btn:hover {
  background-color: red;
}
