.grid {
  display: grid;
  margin-top: 90px;
  margin-left: 50px;
  margin-right: 50px;
  justify-items: center;
  position: relative;
  gap: 55px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.display__card {
  height: 500px;
  display: block;
  width: 350px;
  color: #fff;
  border-radius: 16px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  position: relative;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
/* 
.display__card:hover {
  transform: translateY(-1rem);
  transition: 0.4s ease-in-out;
} */

.display__card h2 {
  /* color: #fff; */
  margin-top: 20px;
  margin-bottom: 10px;
}

.display__card h1 {
  margin-top: 15px;
  margin-bottom: 5px;
}

.image__container {
  height: 300px;
  padding: 15px;
}
/* 
.display__card img:hover {
  height: 300px;
  object-fit: contain;
  transform: scale(0.9, 0.9);
  transition: 0.6s ease;
} */
