.section1__container {
  display: flex;
  flex-direction: column;
}
.section1__product-categories {
  text-align: center;
  height: 80vh;
  /* width: 90vw; */
}

.product-categories__headerText {
  color: #fff;
}

.product-categories__headerText h3 {
  margin-top: 20px;
  letter-spacing: 5px;
}

.card-list {
  margin-top: 50px;
  display: flex;
  padding: 3rem;
  justify-content: center;
  color: white;
  overflow-x: scroll;
}

.card-list {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.card-list::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 350px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;
  cursor: pointer;

  border-radius: 16px;
  background: #17141d;
  box-shadow: -1rem 0 3rem #000;
}

.card:hover {
  transform: translateY(-1rem);
  transition: 0.2s ease;
}

.card:hover ~ .card {
  transform: translateX(130px);
  transition: 0.2s ease;
}

.card:not(:first-child) {
  margin-left: -130px;
}

.card__image {
  margin-top: 20px;
  height: 250px;
}

.section1__top-products {
  background: #17141d;
  padding-bottom: 50px;
}

.top-products__headerText {
  color: white;
  position: relative;
  top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.top-products__headerText h3 {
  letter-spacing: 5px;
  margin-top: 20px;
}

.display__card {
  height: 500px;
  display: block;
  width: 350px;
  color: #fff;
  border-radius: 16px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  position: relative;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.grid {
  display: grid;
  margin-top: 90px;
  margin-left: 50px;
  margin-right: 50px;
  justify-items: center;
  position: relative;
  gap: 55px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.display__card:hover {
  transform: translateY(-1rem);
  transition: 0.4s ease-in-out;
}

.display__card h2 {
  /* color: #fff; */
  margin-top: 20px;
  margin-bottom: 10px;
}

.display__card h1 {
  margin-top: 15px;
  margin-bottom: 5px;
}

.image__container {
  height: 300px;
  padding: 15px;
}
/* 
.display__card img:hover {
  height: 300px;
  object-fit: contain;
  transform: scale(0.9, 0.9);
  transition: 0.6s ease;
} */
